body {
	margin:0;
	padding:0;
	font-family:"HelveticaNeue LT 45 Light", "trebuchet MS", sans-serif;
	background:#57bfeb;
	text-align:center; /* hack para o IE */	
}
#tudo {
	background:#fff;
	min-height:800px;
	margin:0 auto;			
	text-align:left; /* "remédio" para o hack do IE */	
}

#header, #content, #footer{
	display:table;
	width:inherit;
	height:auto;
	text-align:center;
}

#header h1{
	color:#c4c5c6;
	font-weight:bold;
}

#logo img{
	margin-top: 83px;
}

#footer img{
	height:28px;/*28px;*/
	width:14px; /*14px;*/
}

a {
  text-decoration: none;
}

.accordion { 
	font-family:"myriad Pro", "trebuchet MS", sans-serif;
	width:230px;
}

dt, dd {
	margin-bottom:10px;
	padding: 10px;
}
 

dt {
	text-transform:uppercase; 
	background:#d5d6d7;
}

dd {
	border-top: 0; 
	font-size: 12px;
}

dt a, dd a {
	display: block;
	color: #fff;
	font-weight:600;
}


